<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2024-08-05T17:54:17Z</date>
	<key>WorkspacePath</key>
	<string>/Users/zeyan/stock_scan_parser/macos/Runner.xcworkspace</string>
</dict>
</plist>
